[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "freertos-std"]
	path = freertos-std
	url = git@github.com:sheref-sidarous/freertos-std.git
